extends ../layout/index

block contenido
  div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Bienes
      span(class="font-normal") #{' '}Raices
    h2(class="text-center text-2xl font-extrabold") #{pagina}

    div(class="mt-8 mx-auto max-w-md")
      div(class="bg-white py-8 px-4 shadow")
        form(class="space-y-5")           
          div 
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="email") Email de Registro
            input(id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder:gray-400" placeholder="Tu Email" type="email" name="email")
          div 
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="password") Password
            input(id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder:gray-400" placeholder="Tu Password" type="password" name="password")          
          input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Iniciar Sesión")