extends ../layout/index

block contenido
  div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Bienes
      span(class="font-normal") #{' '}Raices
    h2(class="text-center text-2xl font-extrabold") #{pagina}

    div(class="mt-8 mx-auto max-w-md")
      div(class="bg-white py-8 px-4 shadow")
        form(class="space-y-5" method="POST" action="./registro" noValidate) 
          div 
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="nombre") Tu Nombre
            input(id="nombre" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder:gray-400" placeholder="Tu Nombre" type="text" name="nombre")
          div 
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="email") Email de Registro
            input(id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder:gray-400" placeholder="Tu Email" type="email" name="email")
          div 
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="password") Password
            input(id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder:gray-400" placeholder="Tu Password" type="password" name="password")
          div 
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="repetir_password") Repetir Password
            input(id="repetir_password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder:gray-400" placeholder="Repite tu Password" type="password" name="repetir_password")

          div(class="flex items-center justify-between")
            a(class="text-gray-500 text-xs hover:text-gray-700" href="./login") ¿Ya tienes cuenta? Inicia Sesión
            a(class="text-gray-500 text-xs hover:text-gray-700" href="./olvide-password") Olvide mi Password

          input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")