extends ../layout/index

block contenido
  div(class="py-5")
    h1(class="text-4xl my-10 font-extrabold text-center") Bienes
      span(class="font-normal") #{' '}Raices
    h2(class="text-center text-2xl font-extrabold") #{pagina}

    p(class="text-xl font-bold text-center my-10") #{mensaje}